.LoginForm {
  padding: 1rem;
}
.form {
  margin-inline: auto;
  margin-block: 1rem;
  background-color: #e1e1e1;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30rem;
  max-width: 100%;
  box-shadow: 0 0 7px #303030;
}
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.box input {
  font-size: 16px;
}
.head {
  text-align: center;
  margin-bottom: 1.5rem;
}
.btn_bx {
}
