.button {
  margin-top: 7px;
  padding: 7px 20px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.85;
}
label {
  font-weight: 500;
  font-size: 18px;
}
input {
  font-size: 16px;
  padding: 5px;
}
